/.classpath
/.gradle
/.project
/.settings
/.vscode
/bin/
/build/
/gradle/
# TeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fls
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.synctex.gz
*.toc